.movieCard {
  display: flex;
  gap: 2rem;

  font-size: 1.1rem;
  color: #fafafa;
}

.imgThumb {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 250px;
  max-width: 250px;

  background-color: #051f50;
}

.movieDescr {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  max-width: 75%;

  & p:first-of-type {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
  }

  & p:last-of-type {
    margin-top: 2rem;
  }
}
